body {
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
/*    margin: 10px 30px;*/
}

#centered-content {
    width: 65%;
    margin: auto;
}

p {
    margin: 1em;
}

header p {
    font-family: 'Kalam', serif;
    font-size: 60px;
    color: #581845;
    margin: 0.75em 1em 0.5em 1em;
    text-align: center;
}

h1 {
    font-family: 'Kalam', serif;
    font-size: 24px;
    margin: 1em 0em 0em 0em;
}

code {
    font-family: 'Consolas', sans-serif;
    font-size: 14px;
    background-color: #FEECC5;
}

a {
    color: #C70039;
}

.caption {
    color: gray;
    font-size: 12px;
    font-style: italic;
    margin: 0px 0px 0px 20px;
}

img {
    width: 300px;
    margin: 10px 0px 0px 10px;
}
